@font-face {
    font-family: titulo;
    src: url(letras/SLC_.ttf);
}
@font-face {
    font-family: cabecera;
    src: url(letras/Modum.ttf);
}
@font-face {
    font-family: pacman;
    src: url(letras/Modum.ttf);
}
@font-face {
    font-family: nuevas;
    src: url(letras/Alien-Encounters-Bold.ttf);
}
@font-face {
    font-family: comecocos;
    src: url(letras/pacman.ttf);
}
body{
    background:white;
}


header{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

#cabecera{
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px; 
}
#comecocos{
    width:80%;
    margin-left: 5%;
}

td{
    
    width: 5%;

}
a{
    text-decoration: none;
    color: white;
    font-family: titulo;
}


nav{
    position: absolute;
    margin-top: 6%;
    width: 99%;
}
#logo_inicial{
    width: 100.5%;
}


section{
    position: absolute;
    margin-top: 25%;
}
#usuario{
    margin-top: -25%;
}
#foto_user{
    width: 35%;
    margin-top: 10%;    
    margin-left: 10%;
    float: left;
}
#login{
    font-family: nuevas;
    zoom:3;
    color: white;
    margin-left: -35%;
}

h2{
    color: white;
}
#perfil{
    width: 500px;
    margin-left: 15%;
    margin-top: 15%;
}
#newlogin{

    color: red;
}
input{
    background-color: black;
    border:none;
}
#login{
    zoom:2;

}
#correo,#direccion,#foto,#nombre,#newlogin::placeholder { 
    font-family: nuevas;
    background-color: black;
    zoom:2;
    color: white;
    margin-left: -35%;
    
    }
     #contrasena{
        font-family: nuevas;
    background-color: black;
    zoom:2;
    color: white;
    margin-left: -35%;
    
     }

#dato{
    position: relative;
    float: left;
    width: 60%;
    margin-left: 15%;}
    
#datologin{
    margin-top: 3%;
}